---
name: ci

on:
  push:
    branches:
      - master
    paths-ignore:
      - doc/**
      - img/**
      - changelog.md
      - readme.md
  pull_request:
    paths-ignore:
      - doc/**
      - img/**
      - changelog.md
      - readme.md

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Build & test (Release)
        run: dotnet test src -c Release --logger "console;verbosity=normal"
